.top{width: 700px;
    color:rgb(199, 218, 231);
    background-color: rgb(67, 99, 121);
    padding: 100px;
    border-radius: 20px;
    margin: 0 auto;}

.title{font-size: 25px;font-weight: bold;
    }

.content{font-size: 20px;color: rgb(0, 41, 68);
    background-color:rgb(197, 219, 228);
    border-radius: 20px;
    padding: 20px;

}